body{
	margin:0;
	padding:0;
}

.c-section{
	width:100%;
}

.c-header{
	display:flex;
	flex-direction: column;
}

.c-header__menu{
	width:100%;
	display: flex;
	flex-direction: column;
}

.c-navigation{
	display: flex;
	flex-direction:row;
	justify-content: space-evenly;
	list-style:none;
}

.c-rotate{
	display: flex;
	flex-direction: row;
}

.c-rotate__text{
	margin-top: 15%;
}

.c-citate__text{
	margin-left:50%;
	margin-top:10%;
}

.c-image__video{
	display: flex;
	flex-direction: row;
}

.c-image__video-section{
	display: flex;
	flex-direction:column;
}

.surferonBeach{
	position:relative;
	z-index:1;
}

.surferonWave{
	position:relative;
	z-index:1;
}

.c-shop__text{
	display: flex;
	flex-direction: column;
	margin-left:50%;
	margin-top: 10%;
}

.c-product__list{
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: space-evenly;
	margin-bottom: 5%;
}

.content-button__toggle{
	margin-left: 50%;
	margin-bottom:10%;
}

.c-surf-training{
	display: flex;
	flex-direction: row;
	margin-left: 25%;
}

.c-surf-training--image{
	padding-left: 10%;
}

.c-point-break{
	display: flex;
	flex-direction: row;
	margin-top:10%;
}

.c-point-break--image{
	padding-left: 25%;
	margin:20px;
}

.c-point-break__text{
	display: flex;
	flex-direction: column;
}

.c-form{
	margin-left:50%;
}

.c-camp{
	display: flex;
	flex-direction: row;
	margin-top:10%;
}

/* Döljer och placeras sist för ITCSS */
.visually-hidden{
	position: absolute !important;
	height: 1px; width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}


